<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">
    <display-name>Client-Bank</display-name>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>

    <resource-ref>
        <description>MySQL Datasource example</description>
        <res-ref-name>jdbc/host1378713</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

    <servlet>
        <servlet-name>UserListController</servlet-name>
        <servlet-class>com.becomejavasenior.controllers.UserListController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserListController</servlet-name>
        <url-pattern>/AdminUserListController.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TransactionListController</servlet-name>
        <servlet-class>com.becomejavasenior.controllers.TransactionListController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TransactionListController</servlet-name>
        <url-pattern>/ClientTransactionListController.do</url-pattern>
    </servlet-mapping>

</web-app>